body{
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
    
}
.head{
    width: 100%;
    text-align: center;
    /* background-color: crimson; */
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text{
    width: 472px;
    margin: 30px;
    /* background-color: blueviolet; */
}
.text h2{
    font-weight: 300;
}
 p{
    color: gray;
    font-size:15px ;
}
.content{
    display: flex;
    /* background-color: aqua; */
    height: 600px;
    justify-content: space-evenly
}
.content .child1{
    width: 25%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.child1 .Supervisor{
    background-color: white;
    height: 40%;
    width: 80%;
    padding: 10px;
    position: relative;
    border-top:solid 4px hsl(180, 62%, 55%) ;
    border-radius: 8px;
    box-shadow: 0px 6px 3px gray ;
}
img{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}



.content .child2{
    width: 25%;
    /* background-color: rgb(226, 76, 43); */
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
   
}
.child2 .Team-Builder{
    background-color: white;
    height: 40%;
    width: 80%;
    padding: 10px;
    position: relative;
    border-top:solid 4px hsl(0, 78%, 62%);
    border-radius: 8px;
    box-shadow: 0px 6px 3px gray ;
}
.child2 .Karma{
    background-color: white;
    height: 40%;
    width: 80%;
    padding: 10px;
    position: relative;
    border-top:solid 4px hsl(34, 97%, 64%);
    border-radius: 8px;
    box-shadow: 0px 6px 3px gray ;
}


 .child3{
    /* background-color: rgb(77, 67, 67); */
    width: 25%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.Calculator{
    background-color: white;
    height: 40%;
    width: 80%;
    padding: 10px;
    position: relative;
    border-top:solid 4px hsl(212, 86%, 64%) ;
    border-radius: 8px;
    box-shadow: 0px 6px 3px gray ;
}

@media(max-width:375px){
    .content{
        display: block;
        /* background-color: blue; */
        height: 700px;
    }
    .content .child1{
        width: 100%;
        
    }
    .content .child2{
        width: 100%;
        height: 50%;
        justify-content: space-between;
        /* background-color: brown; */
    }
    .content .child3{
        width: 100%;
    }
    img{
        width: 30px;
        height: 30px;
    }
}